.inputWrapper {
    margin: 30px;
}

.input {
    background: var(--background__form);
    color: var(--text__lighter);
    outline: none;

    border: 1px solid #393C49;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 14px;

}

.input::placeholder {
    color: var(--text__gray);
}