.inputWrapper {
    margin: 30px;
}

.input {
    background: #2D303E;
    color: #E0E6E9;
    outline: none;

    border: 1px solid #393C49;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 14px;

    font-size: 14px;
    line-height: 20px;
}

.input::placeholder {
    color: #889898;
}