.heading1 {
  font-weight: 600;
  font-size: 28px;
}

.heading2 {
  font-weight: 600;
  font-size: 20px;
}

.body_large_semibold {
  font-weight: 600;
  font-size: 16px;
}

.body_large_medium {
  font-weight: 500;
  font-size: 16px;
}

.body_large_regular {
  font-weight: 400;
  font-size: 16px;
}

.body_normal_semibold {
  font-weight: 600;
  font-size: 14px;
}

.body_normal_medium {
  font-weight: 500;
  font-size: 14px;
}

.body_normal_regular {
  font-weight: 400;
  font-size: 14px;
}

.body_small_medium {
  font-weight: 500;
  font-size: 12px;
}

.body_small_regular {
  font-weight: 400;
  font-size: 12px;
}